{% extends 'chat/base.html' %}
{% load static %}
{% block content %}

    <input id="auth" type="hidden" value="{{ authenticated }}">

    {% for friend_request in friend_requests %}
        <div id="friend-request-{{ friend_request.sender.pk }}">
            <h3>{{ friend_request.sender }} has sent you a friend request</h3>
            <button id="accept-friend-{{ friend_request.sender.pk }}">Accept</button>
            <button id="decline-friend-{{ friend_request.sender.pk }}" >Decline</button>
        </div>

    {% endfor %}

    <!-- public chat room -->
    <hr>
    <h1>Public Chat Room</h1>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
        	<input type="text" name="username" value="{{ user.username }}" readonly>
        {% else %}
        	<input type="text" name="username" placeholder="Guest">
        {% endif %}

        <br>
        <input type="text" name="room-name" placeholder="Room Name">
        <br>
        <button type="submit">Enter</button>
    </form>


    <!-- private chat room -->
    <hr class="mt-5">
    <h1>My Chat Rooms</h1>
    <hr>
    {% if user.is_authenticated %}
        <button data-toggle="modal" data-target="#private-chat-modal">Create a Private Chat Room</button>
    {% else %}
        <a href="{% url 'users-sign-in' %}">Sign in to create a private chat room</a>
    {% endif %}


    <button data-toggle="modal" data-target="#add-friend-modal">Add Friend</button>



    <!-- private chat room modal -->
    <div class="modal" id="private-chat-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Create Private Chat Room</div>

                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="text" name="private-room-name">
                    </div>
                    <div class="modal-footer">
                        <button type="submit">Submit</button>
                        <button data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- add friend modal -->
    <div class="modal" id="add-friend-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Add a Friend</div>

                <div class="modal-body">
                    <input type="text" name="friend-name" placeholder="Enter your friend's username">
                    <div id="add-friend-errors"></div>
                </div>
                <div class="modal-footer">
                    <button id="send-friend-request">Send Friend Request</button>
                    <button data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}
    
    <script src="{% static 'chat/js/index.js' %}"></script>

{% endblock script %}