{% extends 'chat/base.html' %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
        	<input id="#default-name" type="text" name="guest-name" value="{{ user.username }}" readonly>
        {% else %}
        	<input id="#guest-name" type="text" name="guest-name" placeholder="Guest">
        {% endif %}

        <br>
        <input type="text" name="room-name" placeholder="Room Name">
        <br>
        <button type="submit">Enter</button>
    </form>

{% endblock content %}

{% block script %}

{% endblock script %}