{% extends 'chat/base.html' %}
{% load static %}

{% block style %}
    
    <link rel="stylesheet" href="{% static 'chat/css/public-chat.css' %}">

{% endblock style %}

{% block content %}
    
    <h1>Name: {{ username }}</h1>
    <h1>Chat Name: {{ chat_name }}</h1>

    <div id="chat-log"></div>
    <input id="message-input" type="text" size="100"><br>
    <button id="message-send">Send</button>

    <!-- chat name for js -->
    <input type="hidden" id="chat-name" value="{{ chat_name }}">

    <!-- current user for js -->
    <input type="hidden" id="current-user" value="{{ username }}">
    
{% endblock content %}

{% block script %}

    <script src="{% static 'chat/js/public-chat-socket.js' %}"></script>

{% endblock script %}