{% extends 'chat/base.html' %}
{% load static %}

{% block style %}
    
    <link rel="stylesheet" href="{% static 'chat/css/public-room.css' %}">

{% endblock style %}

{% block content %}
    
    <h1>Name: {{ guest_name }}</h1>

    <div id="chat-log"></div>
    <input id="message-input" type="text" size="100"><br>
    <button id="message-send">Send</button>

    <input type="hidden" id="room-name" value="{{ room_name }}">
    
{% endblock content %}

{% block script %}
    <script>
    
    $(document).ready(() => {

            // get room name from html input
            let roomName = $("#room-name").val();

            // create websocket using room name
            let chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${roomName}/`);

            function sendMessageToServer() {
                message = $("#message-input").val();

                // send message to server
                chatSocket.send(message);

                // reset input value
                $("#message-input").val("");
            }

            $("#message-send").click(() => {
                sendMessageToServer();
            });

            $("#message-input").keydown((e) => {
                if (e.keyCode === 13) {
                    sendMessageToServer();
                }
            }); 


            // recieve message from server
            chatSocket.onmessage = (e) => {

                let message = e.data

                $("#chat-log").append(`<h5>${message}</h5>`)
            };

    });

    </script>

{% endblock script %}