@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	color: #DCC156;
	background-color: #071f30;
}




.friends-list {
	width: 20vw;
	height: 100vh;
	position: absolute;
	left: -20vw;
	transition: .3s;
}

.page-content {
	width: 100vw;
	min-height: 100vh;
	position: absolute;
	left: 0;
	transition: .3s;
}

.show-friends-list {
	left: 0;
}

.move-content-right {
	left: 20vw;
}