{% extends 'chat/base.html' %}
{% block content %}
	
		<div class="d-flex align-items-center justify-content-center">
			<a href="{% url 'users-profile-picture-update' %}">
				<img src="{{ user.profile.profile_picture.url }}" alt="profile picture" width=150 height=150>
			</a>
			<h1>{{ user.username }}</h1>
		</div>

		<div class="d-flex">
			<button class="btn btn-outline-warning m-2">Change Username</button>
			<button class="btn btn-outline-warning m-2">Change Password</button>

			<button class="btn btn-outline-danger m-2">Delete Account</button>
		</div>



	

{% endblock content %}